{{#> app}}
    {{#*inline "content"}}
        <div class="row mt-3">
            <div class="col-lg-6">
                {{ viewData.description }}
            </div>
            <div class="col-lg-6">
                {{ viewData.author }}
            </div>
        </div>
    {{/inline}}
{{/app}}

